@import "variables"

@font-face
  font-family 'telemed'
  src url('~assets/icon-font/telemed/fonts/telemed.eot?as3jpk')
  src url('~assets/icon-font/telemed/fonts/telemed.eot?as3jpk#iefix') format('embedded-opentype'), url('~assets/icon-font/telemed/fonts/telemed.ttf?as3jpk') format('truetype'), url('~assets/icon-font/telemed/fonts/telemed.woff?as3jpk') format('woff'), url('~assets/icon-font/telemed/fonts/telemed.svg?as3jpk#telemed') format('svg')
  font-weight normal
  font-style normal
  font-display block

.icon
  font-family 'telemed' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.ico-pills
  &:before
    content ico-pills
.ico-filter-setting
  &:before
    content ico-filter-setting
.ico-filter
  &:before
    content ico-filter
.ico-telemed-link
  &:before
    content ico-telemed-link
.ico-404
  &:before
    content ico-404
.ico-manufacturer
  &:before
    content ico-manufacturer
.ico-presciptions
  &:before
    content ico-presciptions
.ico-patient-ecard
  &:before
    content ico-patient-ecard
.ico-patient-card
  &:before
    content ico-patient-card
.ico-hospital
  &:before
    content ico-hospital
.ico-payment-terms
  &:before
    content ico-payment-terms
.ico-taking-method
  &:before
    content ico-taking-method
.ico-manufacture-country
  &:before
    content ico-manufacture-country
.ico-prescription
  &:before
    content ico-prescription
.ico-pharmacy
  &:before
    content ico-pharmacy
.ico-report
  &:before
    content ico-report
.ico-coordinator
  &:before
    content ico-coordinator
.ico-clipboard-health
  &:before
    content ico-clipboard-health
.ico-health-case
  &:before
    content ico-health-case
.ico-clipboard
  &:before
    content ico-clipboard
.ico-health-doc
  &:before
    content ico-health-doc
.ico-e-heart
  &:before
    content ico-e-heart
.ico-unit-measure
  &:before
    content ico-unit-measure
.ico-medicines
  &:before
    content ico-medicines
.ico-nurse
  &:before
    content ico-nurse
.ico-doctor
  &:before
    content ico-doctor
.ico-tubes
  &:before
    content ico-tubes
.ico-release-form
  &:before
    content ico-release-form
.ico-first-aid-kit
  &:before
    content ico-first-aid-kit
.ico-active-substance
  &:before
    content ico-active-substance
.ico-inn
  &:before
    content ico-inn
.ico-cardiogram
  &:before
    content ico-cardiogram
.ico-mortar
  &:before
    content ico-mortar
.ico-ehd-reimburse
  &:before
    content ico-ehd-reimburse
.ico-reimburse
  &:before
    content ico-reimburse
.ico-medication
  &:before
    content ico-medication
.ico-medical-history
  &:before
    content ico-medical-history
.ico-file-analytics
  &:before
    content ico-file-analytics
.ico-person
  &:before
    content ico-person
.ico-file-report
  &:before
    content ico-file-report
.ico-file-chart
  &:before
    content ico-file-chart
.ico-telemed
  &:before
    content ico-telemed
.ico-diagnostic
  &:before
    content ico-diagnostic
.ico-dictionary-info
  &:before
    content ico-dictionary-info
.ico-analitical
  &:before
    content ico-analitical
.ico-med-doctor
  &:before
    content ico-med-doctor
.ico-services
  &:before
    content ico-services
.ico-user
  &:before
    content ico-user
.ico-user-md
  &:before
    content ico-user-md
.ico-user-admin
  &:before
    content ico-user-admin
.ico-user-edit
  &:before
    content ico-user-edit
.ico-user-tag
  &:before
    content ico-user-tag
.ico-user-settings
  &:before
    content ico-user-settings
.ico-user-circle
  &:before
    content ico-user-circle
.ico-user-book
  &:before
    content ico-user-book
.ico-user-book-solid
  &:before
    content ico-user-book-solid
.ico-user-card
  &:before
    content ico-user-card
.ico-user-card-solid
  &:before
    content ico-user-card-solid
.ico-user-phone
  &:before
    content ico-user-phone
.ico-user-clipboard
  &:before
    content ico-user-clipboard
.ico-user-catalog
  &:before
    content ico-user-catalog
.ico-poll
  &:before
    content ico-poll
.ico-clipboard-warning
  &:before
    content ico-clipboard-warning
.ico-clipboard-done
  &:before
    content ico-clipboard-done
.ico-clipboard-text
  &:before
    content ico-clipboard-text
.ico-clipboard-med
  &:before
    content ico-clipboard-med
.ico-file-contract-sign
  &:before
    content ico-file-contract-sign
.ico-file-contract
  &:before
    content ico-file-contract
.ico-file-invoice
  &:before
    content ico-file-invoice
.ico-file-heartbeat
  &:before
    content ico-file-heartbeat
.ico-file-med
  &:before
    content ico-file-med
.ico-file-sign
  &:before
    content ico-file-sign
.ico-file-desc
  &:before
    content ico-file-desc
.ico-file-collection
  &:before
    content ico-file-collection
.ico-dictionary-collection
  &:before
    content ico-dictionary-collection
.ico-dictionary
  &:before
    content ico-dictionary
.ico-dictionary-med
  &:before
    content ico-dictionary-med
.ico-case-med
  &:before
    content ico-case-med
.ico-laptop-med
  &:before
    content ico-laptop-med
.ico-box-med
  &:before
    content ico-box-med
.ico-comment-med
  &:before
    content ico-comment-med
.ico-chat
  &:before
    content ico-chat
.ico-chat-warning
  &:before
    content ico-chat-warning
.ico-error
  &:before
    content ico-error
.ico-info
  &:before
    content ico-info
.ico-error-outline
  &:before
    content ico-error-outline
.ico-report1
  &:before
    content ico-report1
.ico-heartbeat
  &:before
    content ico-heartbeat
.ico-stethoscope
  &:before
    content ico-stethoscope
.ico-microscope
  &:before
    content ico-microscope
.ico-calendar
  &:before
    content ico-calendar
.ico-attachment
  &:before
    content ico-attachment
.ico-settings
  &:before
    content ico-settings
.ico-search
  &:before
    content ico-search
.ico-edit
  &:before
    content ico-edit
.ico-print
  &:before
    content ico-print
.ico-home
  &:before
    content ico-home
.ico-clinic-med
  &:before
    content ico-clinic-med
.ico-business
  &:before
    content ico-business
.ico-clinic-logo
  &:before
    content ico-clinic-logo
.ico-medical-referral
  &:before
    content ico-medical-referral
.ico-incoming-medical-referral
  &:before
    content ico-incoming-medical-referral
.ico-service-in-program
  &:before
    content ico-service-in-program
.ico-service
  &:before
    content ico-service
