icomoon-font-path ?= "fonts"

ico-pills = "\e963"
ico-filter-setting = "\e961"
ico-filter = "\e962"
ico-telemed-link = "\e960"
ico-404 = "\e920"
ico-manufacturer = "\e900"
ico-presciptions = "\e901"
ico-patient-ecard = "\e902"
ico-patient-card = "\e903"
ico-hospital = "\e904"
ico-payment-terms = "\e905"
ico-taking-method = "\e906"
ico-manufacture-country = "\e907"
ico-prescription = "\e908"
ico-pharmacy = "\e909"
ico-report = "\e90a"
ico-coordinator = "\e90b"
ico-clipboard-health = "\e90c"
ico-health-case = "\e90d"
ico-clipboard = "\e90e"
ico-health-doc = "\e90f"
ico-e-heart = "\e910"
ico-unit-measure = "\e911"
ico-medicines = "\e912"
ico-nurse = "\e913"
ico-doctor = "\e914"
ico-tubes = "\e915"
ico-release-form = "\e916"
ico-first-aid-kit = "\e917"
ico-active-substance = "\e918"
ico-inn = "\e919"
ico-cardiogram = "\e91a"
ico-mortar = "\e91b"
ico-ehd-reimburse = "\e91c"
ico-reimburse = "\e91d"
ico-medication = "\e91e"
ico-medical-history = "\e91f"
ico-file-analytics = "\e93d"
ico-person = "\e93e"
ico-file-report = "\e93c"
ico-file-chart = "\e93b"
ico-telemed = "\e935"
ico-diagnostic = "\e936"
ico-dictionary-info = "\e937"
ico-analitical = "\e938"
ico-med-doctor = "\e939"
ico-services = "\e93a"
ico-user = "\e921"
ico-user-md = "\e922"
ico-user-admin = "\e923"
ico-user-edit = "\e924"
ico-user-tag = "\e925"
ico-user-settings = "\e926"
ico-user-circle = "\e927"
ico-user-book = "\e928"
ico-user-book-solid = "\e929"
ico-user-card = "\e92a"
ico-user-card-solid = "\e92b"
ico-user-phone = "\e92c"
ico-user-clipboard = "\e92d"
ico-user-catalog = "\e92e"
ico-poll = "\e92f"
ico-clipboard-warning = "\e930"
ico-clipboard-done = "\e931"
ico-clipboard-text = "\e932"
ico-clipboard-med = "\e933"
ico-file-contract-sign = "\e934"
ico-file-contract = "\e93f"
ico-file-invoice = "\e940"
ico-file-heartbeat = "\e941"
ico-file-med = "\e942"
ico-file-sign = "\e943"
ico-file-desc = "\e944"
ico-file-collection = "\e945"
ico-dictionary-collection = "\e946"
ico-dictionary = "\e947"
ico-dictionary-med = "\e948"
ico-case-med = "\e949"
ico-laptop-med = "\e94a"
ico-box-med = "\e94b"
ico-comment-med = "\e94c"
ico-chat = "\e94d"
ico-chat-warning = "\e94e"
ico-error = "\e94f"
ico-info = "\e950"
ico-error-outline = "\e951"
ico-report1 = "\e952"
ico-heartbeat = "\e953"
ico-stethoscope = "\e954"
ico-microscope = "\e955"
ico-calendar = "\e956"
ico-attachment = "\e957"
ico-settings = "\e958"
ico-search = "\e959"
ico-edit = "\e95a"
ico-print = "\e95b"
ico-home = "\e95c"
ico-clinic-med = "\e95d"
ico-business = "\e95e"
ico-clinic-logo = "\e95f"
ico-medical-referral = "\e964"
ico-incoming-medical-referral = "\e965"
ico-service-in-program = "\e966"
ico-service = "\e967"