.autocomplete-body {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    z-index: 100;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            a {
                padding: 10px 20px;
                display: block;

                &:hover {
                    background-color: #e6e6e6;
                }
            }
        }
    }
}
.field{
    .fa{
        position:absolute;
        padding:15px;
        top:0;
        right:0;
    }
}
