<div class="new-folder newFolder">
	<div class="new-folder--input">
		<input class="new-folder--input-name" type="text" ng-model="folder.folder.caption" />
	</div>
	<div class="new-folder--buttons">
	    <button class="new-folder--button new-folder--button-save" ng-click="folder.save()" title="Сохранить"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
	    <button class="new-folder--button new-folder--button-cancel" ng-click="folder.cancel()" title="Отмена"><i class="fa fa-ban" aria-hidden="true"></i></button>
    </div>
</div>